/* setting font */

@import url(../styles/global.css);

:root {
    --sidebar-width: 130px
}

.sidebar {
    width: var(--sidebar-width);
}

.list-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-bottom: 10px;
}

.icon {
    height: 25px;
    width: 25px;
    padding: 0;
    margin-right: 8px;
    fill: #c9ccd8
}