/* setting font */

@import url(../styles/global.css);

:root {
    --sidebar-width: 130px
}

.sidebar {
    width: var(--sidebar-width);
}

.icon {
    height: 25px;
    width: 25px;
    padding: 0;
    margin-right: 8px;
    fill: #c9ccd8
}